<section>
   <div class="container">
    <div class="title">
        <h1>Students Review</h1>
    </div>

    <i class="fa-solid fa-chevron-left"></i>

    <div class="card-items">
        <div class="card">
            <div class="review">
                <p>This course has been very helpful for my studies. The instructor is knowledgeable and engaging. 
                    I highly recommend it to anyone interested in learning about coding.</p>
            </div>
            <div class="information">
                <h5>- Rakesh Rane</h5>
                <p>Watercolor Artist 1</p>
            </div>
        </div>
        <div class="card">
            <div class="review">
                <p>This course has been very helpful for my studies. The instructor is knowledgeable and engaging. 
                    I highly recommend it to anyone interested in learning about coding.</p>
            </div>
            <div class="information">
                <h5>- Rakesh Rane</h5>
                <p>Watercolor Artist 2</p>
            </div>
        </div>

        <div class="card">
            <div class="review">
                <p>This course has been very helpful for my studies. The instructor is knowledgeable and engaging. 
                    I highly recommend it to anyone interested in learning about coding.</p>
            </div>
            <div class="information">
                <h5>- Rakesh Rane</h5>
                <p>Watercolor Artist 3</p>
            </div>
        </div>

        <div class="card">
            <div class="review">
                <p>This course has been very helpful for my studies. The instructor is knowledgeable and engaging. 
                    I highly recommend it to anyone interested in learning about coding.</p>
            </div>
            <div class="information">
                <h5>- Rakesh Rane</h5>
                <p>Watercolor Artist 4</p>
            </div>
        </div>
        <div class="card">
            <div class="review">
                <p>This course has been very helpful for my studies. The instructor is knowledgeable and engaging. 
                    I highly recommend it to anyone interested in learning about coding.</p>
            </div>
            <div class="information">
                <h5>- Rakesh Rane</h5>
                <p>Watercolor Artist 5</p>
            </div>
        </div>
        <div class="card">
            <div class="review">
                <p>This course has been very helpful for my studies. The instructor is knowledgeable and engaging. 
                    I highly recommend it to anyone interested in learning about coding.</p>
            </div>
            <div class="information">
                <h5>- Rakesh Rane</h5>
                <p>Watercolor Artist 6</p>
            </div>
        </div>
        <div class="card">
            <div class="review">
                <p>This course has been very helpful for my studies. The instructor is knowledgeable and engaging. 
                    I highly recommend it to anyone interested in learning about coding.</p>
            </div>
            <div class="information">
                <h5>- Rakesh Rane</h5>
                <p>Watercolor Artist 7</p>
            </div>
        </div>
    </div>
    <div class="shift shift-right">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    
   </div>
</section>