<nav>
  <div class="container">
    <div class="logo">
      <a href="#">
        <i class="fa fa-book-open"></i>
        <div class="logo-text">
          <span class ="course-text">Course</span>
          <span class ="view-text">View</span>
        </div>
      </a>
    </div>
    <div class="content">
      <div class="home-component">
        <ul>
          <li>
            <a href = "#">Home</a>
          </li>
          <li>
            <a href = "#">Courses</a>
          </li>
          <li>
            <a href = "#">About</a>
          </li>
          <li>
            <a href = "#">Blog</a>
          </li>
          <li>
            <a href = "#">Contact</a>
          </li>
        </ul>

      </div>
      <div class="notification">
        <a href="" class="like"><i class="fa-solid fa-heart"></i></a>
        <a href="" class="card"><i class="fa-solid fa-cart-shopping"></i>
          <span class="sup">1</span>
        </a>
        <a href="" class="notification"><i class="fa-solid fa-bell"></i></a>
      </div>
      <div class="login-form">
        <button type ="button">Join</button>
        <button type="button">Login</button>
      </div>

    </div>
  </div>
</nav>
<div>
  <app-review></app-review>
</div>
